# Ignore system and editor files
.DS_Store
thumbs.db

# Ignore build artifacts
dist/
build/
coverage/
__coverage__/
.csak-timelog.json
tmp/
.cache/
data/tmp/
.tmp/
*.log
*.log.*
.idea/

# Ignore Node.js dependencies
node_modules/
npm-debug.log
npm-debug.log.*

# Ignore Electron-related files
dist/electron/
static/dashFiles/
static/storyboards/
static/dashFiles/*
static/storyboards/*
dist/web/

# Ignore generated dashFiles and storyboards
dashFiles/
storyboards/

# Ignore Lefthook local configuration
lefthook-local.yml
